.profile-hero-image {
    min-height: 70vh;
    background-image: url(../images/profile.jpg);
    background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
}

.profile-welcome h2 {
    margin-top: 0px;
    color: #ffffff;
    font-weight: 700;
    font-size: 5rem;
    padding-top: 15rem;
}

.profile-message {
    background-color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.profile-message p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.recommendation-btn {
    margin-top: 3rem;
    padding-bottom: 2rem;
}

/* --- Media query for small screen sizes --- */
@media only screen and (max-width: 600px) {
    .profile-welcome h2 {
        margin-top: 0px;
        color: #ffffff;
        font-weight: 700;
        font-size: 3rem;
        padding-top: 15rem;
}
}

/* --- Media query for medium screen sizes --- */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .profile-message {
        margin-bottom: 10rem;
}
}





