/* -------------------------------------------------- registration.html */

#register-body {
    background-image: url(../images/register.jpg);
    background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    
}

.register-form {
    margin-top: 2rem;
}

/* I used the following article to make the form div transparent 
https://stackoverflow.com/questions/11807286/how-to-make-div-background-color-transparent-in-css */
.card-panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.form-text a {
    font-size: 1rem;
}

.form-text h2 {
    font-size: 1rem;
    margin-top: 0px;
}

.form-heading h2 {
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn {
    margin-bottom: 5px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 10rem;
}

.register-flashes {
    background-color: #e2e2e2;
    margin-top: 0px;
    padding-top: 1rem;
}

/* --- Media query for small screen sizes --- */
@media only screen and (max-width: 600px) {
    .page-footer {
        margin-top: 10rem;
}
    
    .page-container {
        position: relative;
        min-height: 100vh;
}

    .page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 10rem;
}
}

