@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/* ------------------------------------ Font stylings */

.raleway {
    font-family: "raleway", sans-serif;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

/* ------------------------------------ Colours */

.primary {
    background-color: #2E2E2E;
}

.text-color {
    color: #494949;
}

.shadow {
    box-shadow: 5px 4px 4px #aaaaaa;
}

/* ------------------------------------ base.html */

body {
    background-color: #e7e7e7;
}

nav .brand-logo {
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
	nav .brand-logo {
        font-size: 16px;
    }
}

.page-footer {
    margin-top: 2rem;
}

.social-link {
    font-size: 2rem;
    padding-right: 2rem;
}

.social-link a {
    color: #ffffff;
    
}

.social-link i:hover {
	color: #D1D1D1;
}

/* -------------------------------------------------- index.html */

.hero-image {
    text-align: center;
	height: 70vh;
    background-image: url(../images/register.jpg);
    background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    margin-bottom: 2rem;
}

.card-container {
    margin-top: 4rem;
    margin-bottom: 2rem;
    height: 20rem;
    background-color: #ffffff;
    width: 60vw;
    box-shadow: 5px 4px 4px #aaaaaa;
}

.card-heading {
    font-size: 3rem;
    margin-top: 2rem;
}

.card-content {
    font-size: 1rem;
}

/*--- Media query for medium sized screens ---*/
@media only screen and (max-width: 992px) {
    .card-heading {
    font-size: 2rem;
}
    .card-container {
    width: 80vw;
    height: 20rem;
}
    .hero-image {
	height: 50vh;  
}
}
/*--- Media query for small screen sizes ---*/
@media only screen and (max-width: 600px) {
    .card-heading {
    font-size: 2.5rem;
}
    .card-container {
    width: 90vw;
    height: 32rem;
}
    .card-content {
    font-size: 14px;
}
}

/*--------------------------------------- Categories section / index.html */
.card-title h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 1rem;
}

.card-info p {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    
}

.card-info {
    height: 4rem;
}

#categories-wrapper {
    width: 80vw;
}

.card-image {
    height: 11rem;
    overflow: hidden;
}
/* --- Media query for medium screen sizes --- */
@media only screen and (max-width: 992px) {
    .card-image {
    height: 12rem;
    overflow: hidden;
}
    .card-info p {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    
}
}
/* --- Media query for small screen sizes --- */
@media only screen and (max-width: 600px) {
    #categories-wrapper {
    width: 95vw;
}
    .card-image {
    height: 7rem;
    overflow: hidden;
}
    .card-title {
        height: 2.5rem;
    }
    .card-title h2 {
        font-size: 18px;
    }
}
    
/*--- Media query for Ipad Pro ---- */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
      .card-image {
    height: 16rem;
    overflow: hidden;
}
    .card-container {
    width: 80vw;
    
}
}

/*--------------------------------------- Recommendations section / index.html */

.recommendations {
    background-color: #ffffff;
    margin-bottom: 2rem;
}

.recommendations-image {
    height: 14rem;
    overflow: hidden;
}

.recommendations-image img {
    width: 100%;
	
}

.recommendations-category h3 {
    font-size: 18px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.recommendations-title h2 {
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    margin-top: 1px;
}

.recommendations-info p {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1rem;
    height: 5rem;
}

.created-by p {
    font-size: 12px;
    font-weight: 300;
    padding-left: 10px;
    height: 2rem;
}

/* --- Media query for medium screen sizes --- */
@media only screen and (max-width: 992px) {
    .recommendations-image {
    height: 9rem;
    overflow: hidden;
}
    .recommendations-category h3 {
    font-size: 16px;
    
}
    .recommendations-title h2 {
    font-size: 16px;
    
    
}
    .recommendations-title {
    height: 2rem;
}
}

/* --- Media query for small screen sizes --- */
@media only screen and (max-width: 600px) {
    .recommendations-image {
    height: 15rem;
}
}

/*--- Media query for Ipad Pro ---- */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .recommendations-image {
    height: 10rem;
}
    .recommendations-title {
    height: 2.5rem;
}
}

/* -------------------------------------------------- recommendation.html */

.recommendation-heading h2 {
    margin-top: 1rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.recommendation-card {
    width: 90vw;
    background-color: #ffffff;
    margin-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.recommend-name h2 {
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 2rem;
    margin-top: 0px;
}

.recommend-description p {
    padding-left: 1rem;
    padding-right: 1rem;;
}

.recommend-author p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.recommend-image {
    height: 14rem;
    overflow: hidden;
}

.recommend-image img {
    width: 90%;
}

.divider {
    height: 2rem;
    background-color: #2E2E2E;
}

.heading-row {
    margin-bottom: 0px;
}

.btn {
    background-color: #2e2e2e;
}

/* --- Media query for medium screen sizes --- */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #recommendation-wrapper {
        width: 90vw;
}
    .recommend-image {
    height: 25rem;
}
    .recommend-image img {
    width: 95%;
}
    .btn {
    margin-bottom: 2.5rem;
}
/* I used the following article to write the code below to keep the footer at the bottom of the page 
   https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

    .page-container {
        position: relative;
        min-height: 100vh;
}

    .page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 10rem;
}

}

/*--- Media query for Ipad Pro ---- */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #recommendation-wrapper {
        width: 90vw;
}
    .recommend-image {
        height: 25rem;
}
    .recommend-image img {
        width: 95%;
}
    .btn {
        margin-bottom: 2.5rem;
}

/* I used the following article to write the code below to keep the footer at the bottom of the page 
   https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

    .page-container {
        position: relative;
        min-height: 100vh;
}

    .page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 10rem;
}   
}

/* --- Media query for large screen sizes ---*/ 
@media only screen and (min-width: 1200px) {
    .recommendation-card {
    width: 100%;
    
    
}
    #recommendation-wrapper {
        width: 70vw;
}
    .recommend-image {
        height: 40rem;
}
    .recommend-image img {
        width: 90%;
}
    .btn {
        margin-bottom: 2.5rem;
}
    .recommend-name h2 {
        padding-left: 3rem;
        padding-top: 2rem;
}
    .recommend-description p {
        padding-left: 3rem;
        padding-right: 3rem;
}
    .recommend-author p {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
}
}

/* -------------------------------------------------- registration.html */

#register-body {
	min-height: 82vh;
    background-image: url(../images/register.jpg);
    background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    
}

.register-form {
    margin-top: 5rem;
}

/* I used the following article to make the form div transparent 
https://stackoverflow.com/questions/11807286/how-to-make-div-background-color-transparent-in-css */
.card-panel {
    background-color: rgba(255, 255, 255, 0.9);
}

#register-wrapper {
    width: 50vw;
}

/* --- Media query for small screen sizes --- */
@media only screen and (max-width: 600px) {
    .page-footer {
        margin-top: 0px;
}
    .register-image {
        height: 85vh;
    }
    .page-container {
        position: relative;
        min-height: 100vh;
}

    .page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 10rem;
}
}

/* --- Media query for medium screen sizes --- */
@media only screen and (min-width: 600px) and (max-width: 992px){
    .page-footer {
        margin-top: 0px;
}
    .register-image {
        height: 90vh;
    }
}

/*--- Media query for Ipad Pro ---- */
@media only screen and (min-width: 993px) and (max-width: 1200px){
    .register-image {
        height: 90vh;
    }
}

/* --- Media query for large screen sizes ---*/ 
@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .page-footer {
        margin-top: 0px;
}
    .page-container {
        position: relative;
        min-height: 100vh;
}

    .page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 10rem;
}

}








