@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

/* ------------------------------------ Font stylings */

.raleway {
    font-family: "raleway", sans-serif;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

/* ------------------------------------ Colours */

.primary {
    background-color: #2E2E2E;
}

.text-color {
    color: #494949;
}

/* ------------------------------------ base.html */

nav .brand-logo {
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
	nav .brand-logo {
        font-size: 16px;
    }
}

.page-footer {
    margin-top: 2rem;
}

.social-link {
    font-size: 2rem;
    padding-right: 2rem;
}

