{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_recommendation.css') }}" type="text/css">
{% endblock %}


{% block content %}
<!-- Hero-image -->
<div class="row add-hero-image hide-on-small-only"></div>


<!-- Page heading -->
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 raleway text-color add-heading shadow center-align">
            <h2>Edit Recommendation</h2>
        </div>
    </div>
</div>

<div class="container add-wrapper shadow">
<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_recommendation', recommendation_id=recommendation._id) }}#recommendations-wrapper">
    <!--Category select-->
    <div class="row add-form">
        <div class="input-field col s12">
            <i class="fas fa-folder-open prefix"></i>
            <select id="recommend_category" name="recommend_category" class="validate" required>
                <option value="" disabled selected class="text-color">Choose category</option>
                {% for category in categories %}
                    {% if category.category_name == recommendation.recommend_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="recommend_category">Recommendation Category</label>
        </div>
    </div>
        <!--Recommendation name-->
        <div class="row add-form">
            <div class="input-field col s12">
                <i class="fas fa-tags prefix"></i>
                <textarea id="recommend_name" name="recommend_name" class="materialize-textarea validate" minlength="3" maxlength="30" required>{{ recommendation.recommend_name }}</textarea>
                <label for="recommend_name">Recommendation Name</label>
            </div>
        </div>
        <!--Short description of recommendation-->
        <div class="row add-form">
            <div class="input-field col s12">
                <i class="fas fa-bars prefix"></i>
                <textarea id="recommend_info" name="recommend_info" class="materialize-textarea validate" 
                    minlength="20" maxlength="150" required>{{ recommendation.recommend_info }}</textarea>
                <label for="recommend_info">Brief Description</label>
            </div>
        </div>
        <!--Description of recommendation-->
        <div class="row add-form">
            <div class="input-field col s12">
                <i class="fas fa-bars prefix"></i>
                <textarea id="recommend_description" name="recommend_description" class="materialize-textarea validate" 
                    minlength="30" maxlength="400" required>{{ recommendation.recommend_description }}</textarea>
                <label for="recommend_description">Please give us full details</label>
            </div>
        </div>
        <!--Image link-->
        <div class="row add-form">
            <div class="input-field col s12">
                <i class="fas fa-camera prefix"></i>
                <textarea id="recommend_image" name="recommend_image" class="materialize-textarea validate" required>{{ recommendation.recommend_image }}</textarea>
                <label for="recommend_image">Please provide a photo link</label>
            </div>
        </div>
        <!--Due date selector-->
        <div class="row add-form">
            <div class="input-field col s12">
                <i class="fas fa-calendar-check prefix"></i>
                <input id="recommend_date" name="recommend_date" value="{{ recommendation.recommend_date }}" type="text" class="datepicker" required>
                <label for="recommend_date">Recommendation Date</label>
            </div>
        </div>
        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light" type="submit">Edit
                    <i class="fas fa-sign-in-alt"></i>
                </button>
                <a href="{{ url_for('profile', username=session['user']) }}" class="waves-effect waves-light btn">Cancel</a>
            </div>
        </div>
    </form>
    </div>
    </div>

    <!--This button takes the user back to the top of the page -->
    <div class="col s12 m6 center-align top-btn">
        <a href="#" class="waves-effect waves-light btn">Back to top</a>
    </div>

{% endblock %}