{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_recommendation.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="row add-hero-image hide-on-small-only"></div>

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 raleway text-color add-heading shadow center-align">
            <h2>Edit Category</h2>
        </div>
    </div>
</div>

<div class="container add-wrapper shadow">
<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}#categories-wrapper">
        <!--Category name-->
        <div class="row add-form">
            <div class="input-field col s12">
                <i class="fas fa-tags prefix"></i>
                <textarea id="category_name" name="category_name" class="materialize-textarea validate" minlength="3" maxlength="15" required>{{ category.category_name }}</textarea>
                <label for="category_name">Category Name</label>
            </div>
        </div>
        <!--Short description of category-->
        <div class="row add-form">
            <div class="input-field col s12">
                <i class="fas fa-bars prefix"></i>
                <textarea id="category_info" name="category_info" class="materialize-textarea validate" 
                    minlength="20" maxlength="80" required>{{ category.category_info }}</textarea>
                <label for="category_info">Category Description</label>
            </div>
        </div>
        <!--Image link-->
        <div class="row add-form">
            <div class="input-field col s12">
                <i class="fas fa-camera prefix"></i>
                <textarea id="category_image" name="category_image" class="materialize-textarea validate" required>{{ category.category_image }}</textarea>
                <label for="category_image">Please provide an image link</label>
            </div>
        </div>
        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light" type="submit">Edit
                    <i class="fas fa-sign-in-alt"></i>
                </button>
                <a href="{{ url_for('manage_categories') }}" class="waves-effect waves-light btn">Cancel</a>
            </div>
        </div>
    </form>
    </div>
    </div>

    <div class="col s12 m6 center-align top-btn">
        <a href="#" class="waves-effect waves-light btn">Back to top</a>
    </div>



{% endblock %}