{% extends "base.html" %}

{% block content %}
    <div class="hero-image"></div>

    <div class="container card-container">
        <div class="row center-align raleway">
            <div class="col s12 card-heading bold text-color">
                <span>Welcome To Explore London</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1 raleway text-color card-content">
                <p>Explore London is a place where you can find the best places to stay, eat, 
                    drink and explore in the wonderful English capitol. London is renowned worldwide for it’s 
                    traditional pubs, resteraunts and tourist attractions.<br>
                <br>
                Explore the recommendations below or feel free to add your own recommendations if you register or 
                login if you already have an account. </p>
            </div>
        </div>
    </div>


{% endblock %}