{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="row profile-hero-image">
    <div class="s12 m6 profile-welcome center-align raleway">
        <h2>Welcome {{ session.user }}</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 profile-message raleway text-color shadow">
            <div class="profile-text">
                <p>Welcome {{ session.user }}, we hope that Explore London helps you to discover some new and exciting places 
                    to enjoy accross the city of London. Also please feel free to contribute any recomendations of your own, 
                    we will look forward to seeing them. </p>
            </div>
            <div class="recommendation-btn center-align">
                <a href="{{ url_for('add_recommendation') }}" class="waves-effect waves-light btn">Add Recommendation</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 raleway text-color profile-heading shadow center-align">
            <h2>Your Recommendations</h2>
        </div>
    </div>
</div>

<div class="container" id="recommendations-wrapper">
        <div class="row">
            {% for recommendation in recommendations %}
            {% if session.user|lower == recommendation.created_by|lower %} 
            <a href="{{ url_for('view_recommendation', recommendation_id=recommendation._id) }}">
            <div class="col s12 m4">
                <div class="recommendations raleway text-color shadow">
                    <div class="recommendations-image">
                        <img src="{{ recommendation.recommend_image }}" alt="">
                    </div>
                    <div class="recommendations-category">
                        <h3>{{ recommendation.recommend_category }}</h3>
                    </div>
                    <div class="recommendations-title">
                        <h2>{{ recommendation.recommend_name }}</h2>
                    </div>
                    <div class="recommendations-info">
                        <p>{{ recommendation.recommend_info }}</p>
                    </div>
                    <div class="recommendation-buttons center-align" id="button">
                        <a href="{{ url_for('edit_recommendation', recommendation_id=recommendation._id) }}" class="waves-effect waves-light btn">Edit</a>
                        <a class="waves-effect waves-light btn">Delete</a>
                    </div>
                </div>
            </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>






{% endblock %}