{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="row profile-hero-image">
    <div class="s12 m6 profile-welcome center-align raleway">
        <h2>Welcome {{ session.user }}</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 profile-message raleway text-color shadow">
            <div class="profile-text">
                <p>Welcome {{ session.user }}, we hope that Explore London helps you to discover some new and exciting places 
                    to enjoy accross the city of London. Also please feel free to contribute any recomendations of your own, 
                    we will look forward to seeing them. </p>
            </div>
            <div class="recommendation-btn center-align">
                <a class="waves-effect waves-light btn">Add Recommendation</a>
            </div>
        </div>
    </div>
</div>






{% endblock %}