{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row heading-row">
            <div class="s12 center-align recommendation-heading">
                <h2 class="text-color bold raleway">{{ recommendation.recommend_category }}</h2>
            </div>
        </div>
    </div>

    <div class="container" id="recommendation-wrapper">
        <div class="row">
            <div class="s12 m6 recommendation-card shadow">
                <div class="recommend-name">
                    <h2 class="raleway text-color bold">{{ recommendation.recommend_name }}</h2>
                </div>
                <div class="recommend-description">
                    <p class="raleway text-color">{{ recommendation.recommend_description }}</p>
                </div>
                <div class="recommend-author">
                    <p class="raleway text-color"><i>Created by: {{ recommendation.created_by }}</i></p>
                </div>
                <div class="recommend-image center-align">
                    <img src="{{ recommendation.recommend_image }}" alt="">
                </div>
                <div class="divider">

                </div>
            </div>
        </div>
    </div>




{% endblock %}